<html>
<body>
<style>
    body {
        margin: 0px;
        font-family: sans-serif;
    }
    h1, h2, h3, p {
        margin: 0.5rem 0rem;
    }
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }
    .menu {
        background-color: #7a9321;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10%;
    }
    .menu > a,
    .menu > a:active,
    .menu > a:hover,
    .menu > a:visited  {
        color: white;
        text-decoration: none;
    }
</style>
<image src="/public/header.jpg" width="100%"/>
<div class="menu">
  {{#menu}}
    <a href="{{link _id}}">{{menuTitle}}</a>
  {{/menu}}
</div>
<div class="content">
{{{body}}}
</div>
</body>
</html>